*.dll
*.exe
*.pdb
*.suo
*.js
*.user
*.cache
*.cs
*.sln
*.csproj
*.txt
*.map
*.swp
.DS_Store

# artifacts
node_modules

# IDEs
.idea
*.iml
_Resharper.DefinitelyTyped
bin
obj
Properties

# VIM backup files
*~

# test folder
!_infrastructure/*.js
!_infrastructure/tests/*
!_infrastructure/tests/*.js
!_infrastructure/tests/*/*.js
!_infrastructure/tests/*/*/*.js
!_infrastructure/tests/*/*/*/*.js
